.drawer(aria-hidden="true")
  input.drawer__checkbox(id="drawer__checkbox", type="checkbox")

  label.drawer__handler(for="drawer__checkbox")
    span.drawer__hamburger
      span.drawer__hamburger-icon
        span.drawer__hamburger-icon-line-1
  
        span.drawer__hamburger-icon-line-2
  
        span.drawer__hamburger-icon-line-3

  nav.drawer__navigation
    .drawer__navigation-list
      .drawer__navigation-item
        a.drawer__navigation-link(href="/") Link 1

      .drawer__navigation-item
        a.drawer__navigation-link(href="/") Link 2

      .drawer__navigation-item
        a.drawer__navigation-link(href="/") Link 3
