header.header
  .header__logo(title="Site logo")
  nav.header__navigation
    ul.header__navigation-list(aria-expanded="true")
      li.header__navigation-item
        a.header__navigation-link(href="") Все записи

      li.header__navigation-item
        a.header__navigation-link(href="") Теория

      li.header__navigation-item
        a.header__navigation-link(href="") Город

      li.header__navigation-item
        a.header__navigation-link(href="") Практика
