header.header
  .header__logo(title="Site logo")
  nav.header__navigation
    ul.header__navigation-list(aria-expanded="true")
      li.header__navigation-item
        a.header__navigation-link(href="") Link 1

      li.header__navigation-item
        a.header__navigation-link(href="") Link 2

      li.header__navigation-item
        a.header__navigation-link(href="") Link 3
