//There are some page structures demo

.page
  section.page__section
    main.page__main
      include teasers

    aside.page__side
      include popular

  hr

  section.page__section
    main.page__main
      include post

    aside.page__side
      include popular
