//There are some page structures demo

.page
  section.page__section
    main.page__main
      h1 Test

      h2 Test

      h3 Test

      h4 Test

      h5 Test

      h6 Test

      p Some text string in paragraph

      p Yet another paragraph

      blockquote Blockquote

    aside.page__side
