.popular
  h3.popular__header Популярное

  ul.popular__list
    li.popular__item
      a.popular__link(href="")
        .popular__img-wrapper(style="background-image: url('http://kulick.ru/wp-content/uploads/2017/01/249-620x274.jpg')")

        .popular__text  Учимся искажать историю вместе с создателями «Вики... 

    li.popular__item
      a.popular__link(href="")
        .popular__img-wrapper(style="background-image: url('http://kulick.ru/wp-content/uploads/2016/12/o5Qjq-GnTzw-900x400.jpg')")

        .popular__text  Учимся искажать историю вместе с создателями «Вики... 

    li.popular__item
      a.popular__link(href="")
        .popular__img-wrapper(style="background-image: url('http://kulick.ru/wp-content/uploads/2016/12/2Le4kgX237Y-900x400.jpg')")

        .popular__text  Учимся искажать историю вместе с создателями «Вики... 

    li.popular__item
      a.popular__link(href="")
        .popular__img-wrapper(style="background-image: url('http://kulick.ru/wp-content/uploads/2016/12/xcx4l6087j0-900x400.jpg')")

        .popular__text  Учимся искажать историю вместе с создателями «Вики... 

    li.popular__item
      a.popular__link(href="")
        .popular__img-wrapper(style="background-image: url('http://kulick.ru/wp-content/uploads/2016/12/189-900x400.jpg')")

        .popular__text  Учимся искажать историю вместе с создателями «Вики... 

    li.popular__item
      a.popular__link(href="")
        .popular__img-wrapper(style="background-image: url('http://kulick.ru/wp-content/uploads/2016/12/prGC9rv5vSo-900x400.jpg')")

        .popular__text  Учимся искажать историю вместе с создателями «Вики... 
