article.post
  img.post__head-image(src="http://kulick.ru/wp-content/uploads/2017/02/J63MwgocDnU-900x400.jpg")

  .post__info
    include info

  h1 «УДИВИТЕЛЬНЫЙ ВОЛШЕБНИК ИЗ СТРАНЫ ОЗ»: СКАЗКА О ДЕТСКОМ СНЕ ИЛИ ОПИУМЕ?

  p Мы уже не раз предлагали вам окунуться в мир детских сказок и посмотреть на них совсем не детскими глазами. Наш автор решила проанализировать очередное детское произведение, которое всегда сопровождалось налетом загадочности и наркотического дурмана. Погружаемся в «Волшебника из страны Оз».

  hr

  p
    | Автор:

    a(href="/") Настя Дорогова

  hr

  p Сказка Лаймена Фрэнка Баума «Волшебник из страны Оз», вышедшая на стыке XIX и XX веков, стала самой быстро продаваемой детской книгой в Америке. Русскому читателю она известна в обработке Александра Волкова как «Волшебник Изумрудного города». Но если в пересказе сказка становится советской детской эпопеей (Волков дофантазировал еще 5 книг), то к оригиналу есть много вопросов. Кажется, уже только ленивый не слышал о том, что сказка Баума – это аллегория на политическую и экономическую ситуацию в Америке того времени. В этой интерпретации ведьмы оказываются монополистами-олигархами в женском обличии, Железный дровосек – нефтяным магнатом Джон Рокфеллером, Страшила – олицетворением беспомощного фермерского хозяйства, Трусливый Лев – армией США, а обязательное ношение зеленых очков в Изумрудном городе – аллюзией на президентство Уильяма Мак-Кинли, могущество которого держалось на слепой вере граждан.
