.teasers
  h3.teasers__header Читайте в номере

  ul.teasers__list
    li.teasers__item
      a.teasers__item-link(href="/")
        img.teasers__item-img(src="http://kulick.ru/wp-content/uploads/2017/02/252-900x400.jpg")

        .teasers__item-info
          include info

        h3.teasers__item-header АФИША ПЕТЕРБУРГА 5 ФЕВРАЛЯ — 26 ФЕВРАЛЯ

        .teasers__item-text
          | Как бы много дел не появлялось, не забывайте находить хотя бы час на то, чтобы порадовать свою душу.

        .teasers__item-button Читать

    li.teasers__item
      a.teasers__item-link(href="/")
        img.teasers__item-img(src="http://kulick.ru/wp-content/uploads/2017/01/241-900x400.jpg")

        .teasers__item-info
          include info

        h3.teasers__item-header АФИША ПЕТЕРБУРГА 5 ФЕВРАЛЯ — 26 ФЕВРАЛЯ

        .teasers__item-text
          | Как бы много дел не появлялось, не забывайте находить хотя бы час на то, чтобы порадовать свою душу.

        .teasers__item-button Читать

    li.teasers__item
      a.teasers__item-link(href="/")
        img.teasers__item-img(src="http://kulick.ru/wp-content/uploads/2017/01/10-900x400.png")

        .teasers__item-info
          include info

        h3.teasers__item-header АФИША ПЕТЕРБУРГА 5 ФЕВРАЛЯ — 26 ФЕВРАЛЯ

        .teasers__item-text
          | Как бы много дел не появлялось, не забывайте находить хотя бы час на то, чтобы порадовать свою душу.

        .teasers__item-button Читать

    li.teasers__item
      a.teasers__item-link(href="/")
        img.teasers__item-img(src="http://kulick.ru/wp-content/uploads/2017/01/Blokada-900x400.jpg")

        .teasers__item-info
          include info

        h3.teasers__item-header АФИША ПЕТЕРБУРГА 5 ФЕВРАЛЯ — 26 ФЕВРАЛЯ

        .teasers__item-text
          | Как бы много дел не появлялось, не забывайте находить хотя бы час на то, чтобы порадовать свою душу.

        .teasers__item-button Читать

    li.teasers__item
      a.teasers__item-link(href="/")
        img.teasers__item-img(src="http://kulick.ru/wp-content/uploads/2017/01/232-900x400.jpg")

        .teasers__item-info
          include info

        h3.teasers__item-header АФИША ПЕТЕРБУРГА 5 ФЕВРАЛЯ — 26 ФЕВРАЛЯ

        .teasers__item-text
          | Как бы много дел не появлялось, не забывайте находить хотя бы час на то, чтобы порадовать свою душу.

        .teasers__item-button Читать

    li.teasers__item
      a.teasers__item-link(href="/")
        img.teasers__item-img(src="http://kulick.ru/wp-content/uploads/2016/12/giphy.gif")

        .teasers__item-info
          include info

        h3.teasers__item-header АФИША ПЕТЕРБУРГА 5 ФЕВРАЛЯ — 26 ФЕВРАЛЯ

        .teasers__item-text
          | Как бы много дел не появлялось, не забывайте находить хотя бы час на то, чтобы порадовать свою душу.

        .teasers__item-button Читать
