.header
  @include container
  background: $header-background-color
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.33)
  box-sizing: border-box
  display: flex
  height: $header-height
  justify-content: space-between
  padding: 0 16px

  @media screen and (max-width: $small-tablet-breakpoint - 1)
    justify-content: flex-start
    padding-left: $header-height

.header__logo
  flex-shrink: 0
  height: $header-height
  margin-right: 16px
  width: 150px

  @media screen and (min-width: $small-tablet-breakpoint)
    margin-left: $gutter-non-mobile / 2

  &:before,
  &:after
    color: $color-brightest
    display: block

  &:before
    font-family: monospace
    font-size: 36px
    line-height: 36px
    font-weight: 300
    content: 'Мост'
    margin-top: 8px
    text-transform: uppercase

  &:after
    content: 'журнал про культуру'
    font-size: 12px
    line-height: 12px
    white-space: nowrap

.header__navigation-list
  display: flex

  @media screen and (max-width: $small-tablet-breakpoint - 1)
    display: none

  @media screen and (min-width: $small-tablet-breakpoint)
    margin-right: $gutter-non-mobile / 2

.header__navigation-item
  display: inline-block

  @media screen and (min-width: $small-desktop-breakpoint)
    margin: 0 8px

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0

.header__navigation-link
  color: $header-navigation-link-color
  display: inline-block
  font-weight: 300
  line-height: $header-height
  padding: 0 8px
  position: relative
  text-decoration: none
  text-transform: uppercase
  white-space: nowrap

  &:hover
    &:before
      display: block

  &:before
    background: $header-navigation-link-color
    bottom: 0
    content: ''
    height: 4px
    left: 0
    display: none
    position: absolute
    right: 0

.header__navigation-link_active
  cursor: default
  &:before
    display: block
