.info
  overflow: hidden

.info__pubtime
  float: left

  &:before
    @include fa-icon
    content: '\f073'
    font-size: 14px
    margin-right: 6px
    vertical-align: 2px

.info__category
  float: right

  &:before
    @include fa-icon
    content: '\f115'
    font-size: 15px
    margin-right: 4px