.page
  position: relative
  overflow: hidden

.page__section
  @include container
  display: flex
  flex-wrap: wrap
  margin-bottom: $gutter-mobile
  margin-top: $gutter-mobile

  @media screen and (min-width: $small-tablet-breakpoint)
    margin-bottom: $gutter-non-mobile
    margin-top: $gutter-non-mobile

.page__main,
.page__side
  box-sizing: border-box
  flex-shrink: 0
  overflow: hidden

.page__main
  flex-basis: 60%
  margin-bottom: $gutter-mobile

  @media screen and (max-width: $medium-tablet-breakpoint - 1)
    flex-basis: 100%

  @media screen and (min-width: $small-tablet-breakpoint)
    margin-bottom: $gutter-non-mobile

.page__side
  flex-basis: 40%

  @media screen and (max-width: $medium-tablet-breakpoint - 1)
    flex-basis: 100%
