.popular__header
  @include widget-header
  @include widget-margin-space

.popular__list
  @media screen and (max-width: $medium-tablet-breakpoint - 1)
    display: flex
    flex-wrap: wrap

.popular__item
  display: block
  margin-bottom: $gutter-mobile
  @include widget-padding-space

  @media screen and (min-width: $small-tablet-breakpoint)
    margin-bottom: $gutter-non-mobile / 2

  @media screen and (max-width: $medium-tablet-breakpoint - 1)
    flex-basis: 50%

.popular__link
  display: flex
  text-decoration: none
  align-items: center

  @media screen and (max-width: $medium-tablet-breakpoint - 1)
    flex-direction: column

  &:hover
    text-decoration: underline

.popular__img-wrapper
  background-size: cover
  background-position: 50%
  border-radius: 4px
  flex-basis: calc((100vw - #{$gutter-mobile * 3}) / 4)
  flex-grow: 2
  flex-shrink: 0
  height: 100px
  width: 100%

  @media screen and (min-width: $medium-tablet-breakpoint)
    flex-basis: 45%

.popular__text
  flex-grow: 3

  @media screen and (min-width: $small-tablet-breakpoint) and (max-width: $medium-tablet-breakpoint - 1)
    font-size: 18px

  @media screen and (max-width: $medium-tablet-breakpoint - 1)
    display: block
    margin-bottom: $gutter-mobile
    margin-top: $gutter-mobile / 2

  @media screen and (min-width: $medium-tablet-breakpoint)
    padding-left: $gutter-mobile
