.teasers__header
  @include widget-header
  @include widget-margin-space

.teasers__list
  display: flex
  flex-wrap: wrap

.teasers__item
  display: flex
  flex-basis: 100%

  @media screen and (min-width: $small-tablet-breakpoint) and (max-width: $medium-tablet-breakpoint - 1)
    flex-basis: 50%

  @media screen and (min-width: 800px)
    flex-basis: 50%

.teasers__item-link
  @include widget-padding-space
  cursor: pointer
  display: block
  padding-bottom: $gutter-mobile / 4
  padding-top: $gutter-mobile / 4
  position: relative
  text-decoration: none

  @media screen and (min-width: $small-tablet-breakpoint)
    padding-bottom: $gutter-non-mobile / 4
    padding-top: $gutter-non-mobile / 4

  &:hover
    opacity: .9

.teasers__item-header
  font-size: 18px
  line-height: 20px
  margin-bottom: 8px

.teasers__item-img-wrapper
  background-position: 50% 50%
  background-size: cover
  border-radius: 4px
  display: block
  margin-bottom: 14px
  max-height: 320px
  overflow: hidden

  &:before
    content: ''
    display: block
    margin-top: 66%

.teasers__item-info
  margin: 4px 0 8px

.teasers__item-text
  line-height: 24px
  margin-bottom: 8px

  p
    margin: 0
