$gutter-mobile: 16px
$gutter-non-mobile: 32px

$link-color: #000

$desktop-breakpoint: 1200px
$mobile-breakpoint: 600px

$header-background-color: #111
$header-height: 64px
$header-navigation-link-color: #fff

$footer-background-color: #333
$footer-color: #fff

$drawer-navigation-background-color: #fff
$drawer-navigation-link-color: #000
$drawer-navigation-link-hover-color: #fff
$drawer-navigation-link-hover-background-color: #111
$drawer-width: 240px

$hr-color: #222
