$gutter: 16px

$link-color: #000

$header-background-color: #000
$header-height: 64px
$header-navigation-link-color: #fff

$footer-background-color: #222
$footer-color: #fff

$drawer-breakpoint: 600px
$drawer-navigation-background-color: #fff
$drawer-navigation-link-color: #000
$drawer-navigation-link-hover-color: #fff
$drawer-navigation-link-hover-background-color: #222
$drawer-width: 240px
